:root {
    --mainBg: #1A1919;
}
body {
    font-family: 'Oswald', sans-serif;
    background-color: var(--mainBg);
}
* {
    color: #FFFFFF;
}
.container-main {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto
}
body a {
    text-decoration: underline;
}
body a:hover {
    text-decoration: none;
}
.icon {
    width: 40px;
    height: 40px;
    position: relative;
    border: 1px solid #FFFFFF;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s all;
}
.icon:hover {
    background: #fff;
}
.icon:hover svg path {
    fill: var(--mainBg)
}
.icon:hover {
    color: var(--mainBg)
}
footer {
    background: url(/media/footer/bg.png) center center/cover no-repeat;
    padding: 40px 0;
}
footer .wrapper {
    display: flex;
}
footer .copy {
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    max-width: 226px;
    margin-right: auto;
}
footer .copy p {
    margin-bottom: 20px;
}
footer .copy a {
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
}
footer .contacts .top {
    display: flex;
    margin-bottom: 40px;
}
footer .top .email {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 30px;
}
footer .top .email a {
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
}
footer .top address {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 30px;
    font-style: normal;
}
footer .top address p {
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
}
footer .top .socials {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}



footer .top .socials a.icon.wp:hover {
    background: #25D366;
}
footer .top .socials a.icon.wp:hover svg path {
    fill: #fff;
}

/* footer .top .socials a.icon.tg:hover {
    background: #0088cc;
}

footer .top .socials a.icon.inst:hover {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
} */

footer .top .tel {
    text-align: right;
}
footer .top .tel a {
    font-weight: 700;
    font-size: 21px;
    line-height: 31px;
    margin-bottom: 3px;
    text-decoration: none;
}
footer .top .tel p {
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
}
footer .bottom {
    display: flex;
    justify-content: flex-end;
}
footer .bottom p.dev {
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    margin-right: 60px;
}
footer .bottom a.top-btn {
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
}


#news {
    padding: 160px 0 77px 0;
}
#news h2 {
    font-weight: 600;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}
#news p.descr {
    font-weight: 300;
    font-size: 26px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 40px;
}
#news .content {
    margin-bottom: 48px;
}
#news .item a {
    display: block;
    text-decoration: none;
}
#news .item .img {
    height: 221px;
    margin-bottom: 30px;
    position: relative;
}
#news .item .img img {
    object-fit: cover;
}
#news .item .img .layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: all;
    transition: 0.3s all;
    padding: 30px;
    background: #1A1919CC;
}
#news .item .img .layer .b {
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#news .item .img .layer .b img {
    max-width: 110px;
}
#news .item:hover .img .layer {
    opacity: 1;
    visibility: visible;
}
#news .item .title {
    font-weight: 600;
    font-size: 21px;
    line-height: 28px;
    text-decoration-line: underline;
    margin-bottom: 10px;
}
#news .item a:hover .title {
    text-decoration: none;
}
#news .item .text {
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
}
#news .show-more-btn {
    display: block;
    margin: 0 auto;
    padding: 10px 30px;
    border: 1px solid #FFFFFF;
    margin-bottom: 60px;
    width: fit-content;

    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;

    cursor: pointer;

    transition: 0.3s all;
}
#news .show-more-btn:hover {
    background-color: #fff;
    color: var(--mainBg)
}
#news p.bottom {
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    max-width: 770px;
    margin: 0 auto;
}
#news {
    position: relative;
}
#news .block__line {
    padding: 43px 0;
    background: url(/media/news/line.png) center center/cover no-repeat;
    position: absolute;
    top: -70px;
    width: 100%;
}
#news .block__line p {
    text-align: center;
    transform: rotate(-1deg);
    font-weight: 300;
    font-size: 26px;
    line-height: 36px;
}
#news .block__line p a {
    text-transform: uppercase;
    font-weight: 600;
}


#quest {
    padding: 80px 0 57px 0;
    background: url(/media/quest/bg.png) center center/cover no-repeat;
}
#quest .inner {
    max-width: 770px;
    width: 100%;
    margin: 0 auto;
}
#quest h2 {
    font-weight: 600;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}
#quest .quests {
    margin-bottom: 57px;
}
#quest .item .title__block {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
#quest .item .title__block.opened .title__icon svg {
    transform: rotate(180deg);
}
#quest .item .title__block .title__icon {
    margin-right: 20px;
}
#quest .item .title__block .title {
    margin-right: auto;
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    text-transform: uppercase;
}
#quest .item .content__block {
    margin-top: 20px;
}
#quest .item .content__block .des .title {
    position: relative;
    font-weight: 500;
    font-size: 21px;
    line-height: 32px;
    padding-left: 35px;
    margin-bottom: 10px;
}
#quest .item .content__block .des .title:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: url(/media/quest/cube.svg) center center/cover no-repeat;
    width: 15px;
    height: 15px;
}
#quest .item .content__block .des .text {
    padding-left: 35px;
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
}
#quest .car__img {
    height: 450px;
    max-width: 878px;
    margin: 0 auto;
}
#quest .car__img img {
    object-fit: cover;
}


#reviews {
    padding: 80px 0;
}
#reviews h2 {
    font-weight: 600;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}
#reviews .descr {
    font-weight: 300;
    font-size: 26px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 40px;
}
#reviews .tabs {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 30px;
}
#reviews .tabs li {
    cursor: pointer;
}
#reviews .tabs li span {
    font-weight: 300;
    font-size: 26px;
    line-height: 39px;
    text-transform: uppercase;
}
#reviews .tabs li.active span {
    font-weight: 600;
}
.swiper-pagination {
    bottom: 0;
    left: 0;
    width: 100%;
    position: relative;
    margin-top: 40px;
}
.swiper-pagination-bullet {
    background: none;
    transition: 0.3s all;
    margin: 0 10px !important;
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    border-radius: 0;
    opacity: 1;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #fff;
}
.swiper-slide {
    user-select: none;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#brands {
    padding: 80px 0;
}
#brands .descr {
    font-weight: 300;
    font-size: 26px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 40px;
}
#brands .swiper {
    height: 128px;
}
#brands .swiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}
#brands .swiper .swiper-slide img {
    max-height: 128px;
    height: auto;
    width: auto;
}
#brands .swiper .swiper-wrapper {
    -webkit-transition-timing-function:linear; 
    -o-transition-timing-function:linear;
    transition-timing-function:linear; 
}



#gallery {
    padding: 162px 0 80px 0;
}
#gallery h2 {
    font-weight: 600;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}
#gallery .descr {
    font-weight: 300;
    font-size: 26px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 40px;
}
#gallery .tabs {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
#gallery .tabs li {
    cursor: pointer;
}
#gallery .tabs li span {
    display: flex;
    align-items: center;
    gap: 20px;

    font-weight: 300;
    font-size: 32px;
    line-height: 47px;
    text-transform: uppercase;
}
#gallery .tabs li.active span {
    font-weight: 600;
}
#gallery .tabs li span img.non-active {
    display: block;
}
#gallery .tabs li span img.active {
    display: none;
}
#gallery .tabs li.active span img.active {
    display: block;
}
#gallery .tabs li.active span img.non-active {
    display: none;
}